<div class="fortables col-lg-7">
    <table class="table" border="4">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>

        <tr ng-repeat="item in cart" border="2">
           
            <td>{{item.Name}}</td>
            <td>{{item.Price}}</td>
            <td><button class="btn-primary" ng-click="removefromcart($index)">REMOVE</button></td>

        </tr>
    </table>
    <button class="btn-dark"><a href="#!/Checkout">CHECK OUT</a></button>

</div>

