<div class="fortables col-lg-7">
    <table class="table" border="4">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Name</th>

                <th>Price</th>
                <th></th>
            </tr>
        </thead>

        <tr ng-repeat="cloth in clothes" border="2">
            <td>{{cloth.Sno}}</td>
            <td>{{cloth.Name}}</td>

            <td>{{cloth.Price}}</td>
            <td><button class="btn-primary">ADD TO CART</button></td>

        </tr>
    </table>
</div>
